/* VARIABLES */
:root {
    --lib-bg-color: rgba(0, 0, 0, 0.03);
    --lib-text-color: #555;

    --lib-primary: #E3E3E3;
    --lib-success: #D4F7B0;
    --lib-danger: #F7B0B0;

    --lib-box-shadow: 3px 3px 2px -2px rgba(0,0,0,0.2);
    --lib-border-radius: 3px;

    --lib-margin-bottom: 10px;
}

/* GLOBAL */
textarea[class^="bl-"],
div[class^="bl-"] {
    box-sizing: border-box;
}

.bl-outer-element {
    color: var(--lib-text-color);
    border-radius: var(--lib-border-radius);
    box-shadow: var(--lib-box-shadow);
    margin-bottom: var(--lib-margin-bottom);
}

.bl-label {
    letter-spacing: 1px;
    font-variant: all-small-caps;
}

.bl-disabled {
    opacity: 0.8;
}

.bl-danger {
    background-color: var(--lib-danger);
}

.bl-success {
    background-color: var(--lib-success);
}

.bl-primary {
    background-color: var(--lib-primary);
}


/* BUTTON */
.bl-button-outer {
    box-sizing: border-box;
    color: var(--lib-text-color);
    border-radius: var(--lib-border-radius);

    display: inline-block;

    margin: 10px 5px;
    padding: 0px 8px;

    /*height: 27px;*/
    line-height: 22px;

    border: 2px solid rgba(0, 0, 0, 0.1);

}

.bl-button-text span {
    
    position: relative;
    top:1px;
}

.bl-button-outer:hover {
    cursor: pointer;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 1px 9px;
}

.bl-button-outer.bl-disabled:hover {
    cursor: default;
    border: 2px solid rgba(0, 0, 0, 0.1);
    padding: 0px 8px;
}

.bl-button-text {
    margin: 0px 5px;
    padding: 2px 0px;
}

/* PANEL */

.bl-panel-outer {
    background-color: var(--lib-bg-color);
    padding: 5px 10px;
}

.bl-panel-title {
  margin-bottom: 5px;
  color: #aaa;
  text-align: right;
}

/* TEXTINPUT */

.bl-text-input {
    text-align: center;
    resize: none;
    border: none;

    background-color: #fafafa;
    padding: 10px;
    white-space: pre-wrap;

    font-family: inherit;
    overflow-y: hidden;
}

.bl-text-input:focus {
  background-color: #fbfbfb;;
  padding-bottom: 9px;
  text-align: left;
  border-bottom: 1px solid #F8FFA8;
  box-shadow: 4px 4px 2px -2px rgba(0,0,0,0.2);
  outline: none;
}