.bl-text-input {
  border-radius: 3px;
  box-shadow: 3px 3px 2px -2px rgba(0,0,0,0.2);
  text-align: center;
  resize: none;
  border: none;
  background-color: rgba(0, 0, 0, 0.03);
  padding: 10px;
  white-space: pre-wrap;
  min-height: 20px;
  margin-bottom: 10px;
  font-family: inherit;
}

.bl-text-input:focus {
  padding-bottom: 9px;
  text-align: left;
  border-bottom: 1px solid #F8FFA8;
  box-shadow: 4px 4px 2px -2px rgba(0,0,0,0.2);
  outline: none;
}