.bl-text-input {
  border-radius: 3px;
  box-shadow: 3px 3px 2px -2px rgba(0,0,0,0.2);
  /*text-align: center;*/
  width: 100%;
  
  border: none;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 10px;
  white-space: pre-wrap;
  min-height: 20px;
  margin-bottom: 10px;
  font-family: inherit;
  box-sizing: border-box;
}

.bl-text-input-suggestion {
  white-space: nowrap; 
  /* width: 50px;  */
  overflow: hidden;
  text-overflow: ellipsis; 
  cursor: pointer;
  padding: 3px;
  color: #aaa;
  text-align: left;
  font-variant: all-small-caps;
  letter-spacing: 1px;
}

.bl-text-input-value {
  border-radius: 3px;
  /* box-shadow: 3px 3px 2px -2px rgba(0,0,0,0.2); */
  box-shadow: 2px 4px 2px -2px rgba(0,0,0,0.2);
  margin-left: 2px;
  /*text-align: center;*/
  border: none;
  background-color: rgba(255, 255, 255, 0.6);
  padding: 10px;
  white-space: pre-wrap;
  min-height: 20px;
  margin-bottom: 10px;
  font-family: inherit;
  box-sizing: border-box;
  font-size: 11px;
  font-weight: bold;
  cursor: pointer; 
}

.bl-text-input-selected {
  background-color: rgba(100, 100, 200, 0.5);
  color: white !important;
}

.bl-text-input-value:hover {
  background-color: #F7B0B0;
}

.bl-text-input:disabled {
  background-color: rgba(255, 255, 255, 0.1) !important;
}

.bl-text-input:focus {
  background-color: #fff;
  padding-bottom: 10px;
  /*text-align: left;*/
  border-bottom: 1px solid #F8FFA8;
  box-shadow: 4px 4px 2px -2px rgba(0,0,0,0.2);
  outline: none;
}

.bl-text-input-title {
  margin-bottom: 5px;
  color: #aaa;
  text-align: left;
  font-variant: all-small-caps;
  letter-spacing: 1px;
}

.bl-text-input.bl-danger {
  /* background-color: #F7B0B0; */
  border-bottom: 1px solid #F7B0B0;
  background-color: rgba(255, 255, 255, 0.8);
}

.bl-text-input-value.bl-danger {
  /* background-color: #F7B0B0; */
  background-color: #F7B0B0;
}

.bl-text-input.bl-success {
  /* background-color: #D4F7B0; */
  border-bottom: 1px solid #D4F7B0;
  background-color: rgba(255, 255, 255, 0.8);
}

.bl-text-input.bl-primary {
  background-color: rgba(255, 255, 255, 0.8);
  border-bottom: 1px solid rgba(0, 0, 0, 0.03);
} 